<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lonely7yk.mapper.RoleMapper">

    <resultMap id="RoleMap" type="role">
        <result property="permsIds" column="ps_ids"/>
        <result property="permsCate" column="ps_ca"/>
    </resultMap>

    <select id="getRoleById" parameterType="_int" resultMap="RoleMap">
        select *
        from vue_shop.sp_role
        where role_id = #{id};
    </select>

    <select id="getAllRoles" resultMap="RoleMap">
        select *
        from vue_shop.sp_role;
    </select>

    <insert id="addRole" parameterType="role">
        insert into vue_shop.sp_role (role_name, role_desc) value (#{roleName}, #{roleDesc});
    </insert>

    <update id="updateRole" parameterType="role">
        update vue_shop.sp_role
        set role_name = #{roleName},
            role_desc = #{roleDesc}
        where role_id = #{roleId};
    </update>

    <delete id="deleteRole" parameterType="_int">
        delete
        from vue_shop.sp_role
        where role_id = #{id};
    </delete>

    <update id="updateRolePerms" parameterType="role">
        update vue_shop.sp_role
        set ps_ids = #{permsIds}
        where role_id = #{roleId};
    </update>
</mapper>