<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lonely7yk.mapper.RoleMapper">

    <resultMap id="RoleMap" type="role">
        <result property="permsIds" column="ps_ids"/>
        <result property="permsCate" column="ps_ca"/>
    </resultMap>

    <select id="getRoleById" parameterType="_int" resultMap="RoleMap">
        select * from vue_shop.sp_role where role_id=#{id};
    </select>

    <select id="getAllRoles" resultMap="RoleMap">
        select * from vue_shop.sp_role;
    </select>

</mapper>